{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_first_name }}
{{ form.form_company }}

<div class="row custom-form">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
   {{ form.first_name }}
   {{ form.company }}
   {{ form.actions.submit }}

  </div>
</div>